{
	"BackgroundImageConfig":{
		"StretchFill":true,
		"Left":0,
		"Top":0
	},
	"GameOverImageConfig":{
		"StretchFill":true,
		"Left":0,
		"Top":0
	},
	"ScoreTextConfig":{
		"CustomFont":true,
		"FontName":"./#Emulogic",
		"FontSize":120,
		"Right":940,
		"Top":590,
		"GameOverVisibility":true,
		"GameOverTop":92,
		"GameOverRight":1295,
		"GameOverFontSize":36
	},
	"BallsScoredTextConfig":{
		"CustomFont":true,
		"FontName":"./#Emulogic",
		"FontSize":36,
		"Right":1125,
		"Top":60,
		"PadLeft":2,
		"GameOverVisibility":false
	}
}