{
	"BackgroundImageConfig":{
		"StretchFill":true,
		"Left":0,
		"Top":0,
		"Source":"background.png"
	},
	"GameOverImageConfig":{
		"StretchFill":true,
		"Left":0,
		"Top":0,
		"Source":"gameover.png"
	},
	"ScoreTextConfig":{
		"CustomFont":true,
		"FontName":"./#Emulogic",
		"FontSize":120,
		"Right":940,
		"Top":590,
		"GameOverVisibility":true,
		"GameOverTop":92,
		"GameOverRight":1295,
		"GameOverFontSize":36
	},
	"BallsScoredTextConfig":{
		"CustomFont":true,
		"FontName":"./#Emulogic",
		"FontSize":36,
		"Right":1125,
		"Top":60,
		"PadLeft":2,
		"GameOverVisibility":false
	},
	"StartSound":"start.mp3",
	"GameOverSound":"stop.mp3",
	"Score10Sound":"ten.mp3",
	"Score20Sound":"twenty.mp3",
	"Score30Sound":"thirty.mp3",
	"Score40Sound":"forty.mp3",
	"Score50Sound":"fifty.mp3"
}