{
"BackgroundImageConfig":{
"StretchFill":true,
"Left":0,
"Top":0,
"Source":"background.jpg"
},
"GameOverImageConfig":{
"StretchFill":true,
"Left":0,
"Top":0,
"Source":"gameover.jpg"
},
"ScoreTextConfig":{
"CustomFont":true,
"FontName":"./#Oz's Wizard Tin Woodman",
"FontColor":"Black",
"FontSize":120,
"Right":50,
"Top":45,
"GameOverVisibility":true,
"GameOverTop":850,
"GameOverRight":880,
"GameOverFontSize":100
},
"BallsScoredTextConfig":{
"CustomFont":true,
"FontName":"./#Oz's Wizard Tin Woodman",
"FontColor":"Black",
"FontSize":36,
"Right":50,
"Top":15,
"PadLeft":2,
"GameOverVisibility":false
},
"StartSound":"sotr.mp3",
"GameOverSound":"no_place_like_home.wav",
"Score10Sound":"lollipop_guild.wav",
"Score20Sound":"lions_tigers_bears.wav",
"Score30Sound":"oh-ee-oh.wav",
"Score40Sound":"my_pretty.wav",
"Score50Sound":"melting2.wav"
}